@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, dracula, bumblebee, cupcake;
}

#sidebar.collapsed {
  width: 0px !important;
  padding: 0;
  opacity: 0;
  border-right-width: 0;
}
